package pages

import "github.com/vague2k/blackheaven/views/layouts"

templ FormSubmitSuccessful() {
	@layouts.BaseLayout() {
		<div class="flex flex-col justify-center items-center h-screen">
			<h1 class="text-3xl font-bold">Form submitted</h1>
			<p class="text-lg">We'll try to get back to you as soon as we can</p>
		</div>
	}
}
